.navigation-container .navigation-menu {
    position: fixed;
    height: 100vh;
}

.icon-container .icon {
    color: rgb(206, 204, 204);
    border: 1px solid rgb(206, 204, 204);
    font-size: 20px;
    padding: 2px;
    margin: 4px;
}

.nav-text {
    font-size: 10px;
}

.fb-blue-hover:hover {
    background-color: #052498;
}
.red-hover:hover {
background-color: red;
}

.blue-hover:hover {
    background-color: rgb(56, 56, 247);
}
.yellow-hover:hover {
    background-color: darkorange;
}

.main-image-container .image-container {
    position: relative; 
}

.image-container .image {
    display: block;
    width: 100%;
    height: auto;
}

.image .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }
  
  
.image-container .overlay:hover{
    opacity: 1;
  }

  
.overlay .text {
    color: gray;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: small;
    border-top: 1px solid rgb(156, 155, 155);
    border-bottom: 1px solid rgb(156, 155, 155);
    padding-top: 8px;
    padding-bottom: 8px;
}


@media screen and (max-width:375px) {
    .vertical-nav {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .vertical-nav {
        display: none;
    }
}



